<p>
  <b>Recid:</b>
  <%=h @timeline.recid %>
</p>

<p>
  <b>Empid:</b>
  <%=h @timeline.empid %>
</p>

<p>
  <b>Beg date:</b>
  <%=h @timeline.beg_date %>
</p>

<p>
  <b>Beg time:</b>
  <%=h @timeline.beg_time %>
</p>

<p>
  <b>End time:</b>
  <%=h @timeline.end_time %>
</p>

<p>
  <b>Off time:</b>
  <%=h @timeline.off_time %>
</p>

<p>
  <b>Personal time:</b>
  <%=h @timeline.personal_time %>
</p>

<p>
  <b>Total time:</b>
  <%=h @timeline.total_time %>
</p>

<p>
  <b>Client:</b>
  <%=h @timeline.client %>
</p>

<p>
  <b>Project:</b>
  <%=h @timeline.project %>
</p>

<p>
  <b>Task:</b>
  <%=h @timeline.task %>
</p>

<p>
  <b>Billable:</b>
  <%=h @timeline.billable %>
</p>

<p>
  <b>Timecard:</b>
  <%=h @timeline.timecard %>
</p>

<p>
  <b>Bug nbr:</b>
  <%=h @timeline.bug_nbr %>
</p>

<p>
  <b>Case nbr:</b>
  <%=h @timeline.case_nbr %>
</p>

<p>
  <b>Description:</b>
  <%=h @timeline.description %>
</p>

<p>
  <b>Dt create:</b>
  <%=h @timeline.dt_create %>
</p>

<p>
  <b>Dt edit:</b>
  <%=h @timeline.dt_edit %>
</p>


<%= link_to 'Edit', edit_timeline_path(@timeline) %> |
<%= link_to 'Back', timelines_path %>